@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeInBackdrop {
  from { opacity: 0; }
  to { opacity: 1; }
}



@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



.text-xl  {
    color: #666;
    font-family: 'Poppins', sans-serif;   
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem; 
    padding-top: 10px;
    letter-spacing: 1px;

    text-transform: uppercase;
    background: linear-gradient(to right, orange, #ff6600);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientAnimation 3s infinite;
}

.login-modal {
  // BACKDROP
  &-backdrop {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    // backdrop-filter: blur(6px);
    background-color: rgba(0, 0, 0, 0.55);
    z-index: 50;
    animation: fadeInBackdrop 0.3s ease-out;
    will-change: opacity;
  }

  // MODAL BOX
  &-box {
    position: relative;
    width: 320px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.05);
    padding: 24px;  
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
    animation: fadeInScale 0.4s ease-out;
    will-change: transform, opacity, backdrop-filter;
    border-radius: 12px;
    overflow: hidden;
  }

  // CLOSE BUTTON
  &-close {
    position: absolute;
    top: 6px;
    right: 10px;
    font-size: 22px;
    color: #666;
    cursor: pointer;
    border: none;
    background: none;

    &:hover {
      color: orange;
    }
  }

  // INPUT
  &-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border-radius: 6px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;

    &:focus {
      outline: none;
      border: 2px solid orange;
      box-shadow: 0 0 8px rgba(255, 165, 0, 0.5);
    }
  }

  

  // LOGIN BUTTON
  &-btn {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #555;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease;

    &:hover {
      background-color: orange;
    }
  }
}
