/* Globalna animacja gradientu */
@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


.button-container {
  display: flex;
  justify-content: center; 
  gap: 20px; 
  margin-top: 30px; /* Większa przerwa od pola wyboru waluty */
}

.confirm-button, .reset-button {
  flex: none; 
  padding: 12px 20px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
}

.reset-button {
  background-color: #e74c3c;
  color: white;
}

.reset-button:hover {
    background-color: #2ecc71;
}

.confirm-button {
  background-color: #3498db;
  color: white;
}

.confirm-button:hover {
  background-color: #9900ff;
}

.settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    padding: 20px;
    padding-top: 60px;
    
    
h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

}

.currency-select {
   appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-color: #222;
  color: #fff;

  border: 2px solid #ffffff; 
  border-radius: 8px;

  padding: 10px 40px 10px 12px;
  font-size: 1rem;
  cursor: pointer;

  width: 200px;

  outline: none;
  transition: 0.25s ease;

  margin-bottom: 20px; 

  
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg width='12' height='8' viewBox='0 0 12 8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1l5 5 5-5' stroke='%23ff6600' stroke-width='2' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
}

.currency-select:hover {
  border-color: white;
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.4)
}

/* Dropdown — opcje */
.currency-select option {
  background-color: #111 !important;
  color: #fff !important;
}

.currency-select:focus {
  border-color: #ffa200;
  box-shadow: 0 0 10px rgba(255, 165, 0, 0.8);
}

.confirmation-message {
  color: green;
  font-size: 16px;
  margin-top: 10px;
  font-weight: bold;
}

.budget-section {
  margin-top: 30px; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.budget-input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 8px;
  width: 100%;
  text-align: center;

  border-color: white;
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.4)
}

.budget-button {
  margin-top: 12px; 
  padding: 12px 20px;
  background-color: #222;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.budget-button:hover {
  background-color: #27ae60;
}

.budget-message {
  color: green;
  font-size: 16px;
  margin-top: 10px;
  font-weight: bold;
}


.custom-category-section {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  border-color: white;
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.4)
}

.category-button {
  margin-top: 20px;
  margin-bottom: 35px;
  padding: 12px 20px;
  background-color: #f39c12;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.category-button:hover {
  background-color: #27ae60;
}

.category-item {
  position: relative; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-radius: 5px;
  background-color: #222;
  min-width: 150px;
  max-width: fit-content;
  margin-bottom: 20px;

  border-color: white;
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.4)
}

.category-name {
  flex-grow: 1; 
  text-align: center;
  font-weight: bold;
  color: #fff;
}


.delete-button {
  position: absolute;
  right: -60px; 
  background: none; 
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: red;
  transition: transform 0.3s ease-in-out; /* Płynna animacja */
}

.delete-button:hover {
  transform: scale(1.2); 
}

.settings-label {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 6px;
  text-transform: uppercase;
  letter-spacing: 1px;

  background: linear-gradient(to right, orange, #ff6600);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientAnimation 3s infinite;
}

.custom-category-section label {
  margin-bottom: 10px; 
}


.reset-section {
  margin-top: 40px; 
}

