.charts-row {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 40px auto;
  width: 100%;
  max-width: 900px;
}

.chart-box {
  background: #222;
  padding: 20px;
  border-radius: 16px;
  width: 45%;
  min-width: 260px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  text-align: center;
  transition: 0.3s ease;
}

.chart-box:hover {
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.25);
  transform: translateY(-3px);
}

.chart-box h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 18px;
  margin-bottom: 10px;
}

.amount {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}

.income-amount {
  color: #2ecc71;
  font-weight: 700;
}

.spending-amount {
  color: #e74c3c;
  font-weight: 700;
}

  .chart-box h3 svg {
    margin-right: 5px;
  }
/* Mobile */
@media (max-width: 768px) {
  .charts-row {
    flex-direction: column;
  }

  .chart-box {
    width: 100%;
  }
}
